<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bacb9d">  <td>23/10/17 20:55:22</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_TC1.executer()[pri:0, instance:testclasspackage.Post_TC1@402c4085]">executer</td> 
  <td>main@2017797638</td>   <td></td> </tr>
<tr bgcolor="fb8972">  <td>23/10/17 20:55:27</td>   <td>4671</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_TC1.executer()[pri:0, instance:testclasspackage.Patch_TC1@710c2b53]">executer</td> 
  <td>main@2017797638</td>   <td></td> </tr>
<tr bgcolor="71a8e2">  <td>23/10/17 20:55:25</td>   <td>3356</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_TC1.executer()[pri:0, instance:testclasspackage.Put_TC1@2767e23c]">executer</td> 
  <td>main@2017797638</td>   <td></td> </tr>
<tr bgcolor="69b785">  <td>23/10/17 20:55:20</td>   <td>-2500</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Delete_TC1.executer()[pri:0, instance:testclasspackage.Delete_TC1@413d1baf]">executer</td> 
  <td>main@2017797638</td>   <td></td> </tr>
<tr bgcolor="b3eeae">  <td>23/10/17 20:55:24</td>   <td>2230</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_TC1.executer()[pri:0, instance:testclasspackage.Get_TC1@6fa51cd4]">executer</td> 
  <td>main@2017797638</td>   <td></td> </tr>
</table>
